.video figure {
  margin: 0;
}

.video video {
  display: block;
  width: 100%;
  height: auto;
}

.video figcaption {
  margin-top: 0.5em;
  font-size: var(--body-font-size-xs);
  color: var(--dark-color);
  text-align: center;
}

.video.background {
  position: relative;
  overflow: hidden;
}

.video.background figure {
  position: absolute;
  inset: 0;
}

.video.background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
